<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Мій сайт</title>

        <!-- Bootstrap CSS -->
        <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
        <!--<link href="//bootswatch.com/united/bootstrap.min.css" rel="stylesheet">-->
        <link href="//bootswatch.com/cerulean/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'menu.html' %}
        <div class="container">
            <div class="row">
                <img src="/media/images/autumn.jpg" class="img-responsive">
            </div>
            <div class="jumbotron">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
          <div class="">
            <footer >
              <div class="clear-fix" style="height:50px">
                  <h1 class="panel-title"></h1>
                </div>            
                <h4><p class="text-center">&copy; Copyright 2015 Мій сайт</p></h4>
              </div>
            </footer>
          </div>
        </div>

        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
    </body>
</html>
